body {
    margin: 0;
    padding: 0;
    font: 30px/35px "BayerNext-Regular",sans-serif;
    font-variant: simplified;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;

}