html, body{ height:100%; margin:0; }

body {
    display:flex;
    flex-direction:column;
    margin: 0;
    padding: 0;
    font: 24px/35px "BayerNext-Regular",sans-serif;
    font-variant: simplified;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;

}

img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

#root {
    height: 100%;
}